.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 3388px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
}

#page_position_content
{
	margin-top: 154px;
	margin-bottom: 2525px;
}

#u222
{
	z-index: 2;
	width: 1280px;
	height: 676px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: -1px;
	left: 0px;
	background: #C69C6D url("../images/sm_website-background_192.jpg") repeat center center;
}

#pu266-3
{
	width: 0.01px;
	left: -21px;
	position: relative;
}

#u266-3
{
	z-index: 10;
	width: 307px;
	min-height: 382px;
	position: relative;
	margin-right: -10000px;
}

#u254
{
	z-index: 9;
	width: 140px;
	height: 88px;
	position: relative;
	margin-right: -10000px;
	margin-top: 158px;
	left: 361px;
}

.ie #u254
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u224
{
	z-index: 3;
	width: 1280px;
	height: 676px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 676px;
	left: 0px;
	background: #F6E496 url("../images/vintage-old-paper-with-grunge.jpg") repeat center center;
}

#u244
{
	z-index: 5;
	display: block;
	vertical-align: top;
	margin-left: 256px;
	margin-top: 167px;
	position: relative;
}

#u249
{
	z-index: 7;
	display: block;
	vertical-align: top;
	margin-left: 588px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u225
{
	z-index: 4;
	width: 1280px;
	height: 676px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 1352px;
	left: 0px;
	background: #F87575 url("../images/dirt-desert-twitter-background.jpg") repeat-x left top;
}

#u317
{
	z-index: 13;
	width: 1280px;
	height: 676px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 2028px;
	left: 0px;
	background: #F87575 url("../images/2094391-stone-text-ancient-religion-christianity-gold-history-past.jpg") no-repeat left top;
	background-size: cover !important;
}

#u332
{
	z-index: 14;
	width: 1280px;
	height: 676px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 2704px;
	left: 0px;
	background: #F87575 url("../images/abydos-king-list.jpg") no-repeat left top;
	background-size: cover !important;
}

body
{
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

